video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

.crumbling {
  border-radius: 25px;
  width: 80%;
  height: auto;
}
  
  .first-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    background: rgb(26, 23, 23);
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: contain;
  }
  
  .first-container > h1 {
    color: #21c951;
    font-size: 60px;
    font-family: 'OCR A';
    margin-top: -200px;
  }


  .second-container{
    background: rgb(26, 23, 23);
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    
  }

  .middle-container{
    background: rgb(26, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    text-align: center;
  }

  .middle-container > h1 {
    color: #21c951;
    font-size: 55px;
    font-family: 'OCR A';
    

  }


  .sub-container {
    background: rgb(26, 23, 23);
    height: 50vh;
    color: #21c951;
    width: 40%;
    text-align: center;
    font-family: 'sans';
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sub-container img {
    border-radius: 25px;
  }

  .sub-container > h2 {
    color: #21c951;
    font-size: 40px;
    font-family: 'OCR A';
    padding-bottom: 30px;
    padding-top: 80px;
  }
  
  .sub-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 20px;
    font-family: 'OCR A';
    line-height: 1.5;
  }
  
  .main-btns {
    margin-top: 32px;
  }
  
  .main-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .main-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }