@import '../fonts.css';

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

.crumbling {
  border-radius: 25px;
  width: 80%;
  height: auto;
}

  
  .first-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    background: rgb(26, 23, 23);
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: contain;
  }
  
  .first-container > h1 {
    color: #21c951;
    font-size: 60px;
    font-family: 'OCR A Extended V2';
    margin-top: -200px;
  }


  .second-container{
    background: rgb(26, 23, 23);
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    object-fit: contain;
  }

  .middle-container{
    /* background: rgb(26, 23, 23); */
    background-image: url('../assets/HomeBackground3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: -50px;
    object-fit: contain;
    

    width: 100%;
    text-align: center;
    padding-left: -50px;
    margin-bottom: -1px;
  }

  .middle-container > h1 {

    color: #21c951;
    font-size: 55px;
    font-family: 'OCR A Extended V2';
    margin-left: -30px;

  }

  .color-transition{
    /* background-image: url('../assets/HomePanel4.jpg'); */
    height: 20vh;
  }


  .sub-container {
    background: rgb(26, 23, 23);
    height: 45vh;
    color: #21c951;
    width: 40%;
    text-align: center;
    /* font-family: 'sans'; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 25px;
  }

  .sub-container img {
    border-radius: 25px;
  }

  .sub-container > h2 {
    color: #21c951;
    font-size: 40px;
    font-family: 'OCR A Extended V2';
    padding-bottom: 30px;
    padding-top: 20px;
  }
  
  .sub-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 20px;
    font-family: 'OCR A Extended V2';
    line-height: 1.5;
  }

  .bottom-container{
    background: rgb(33, 201, 81);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 50vh;
    width: 100%;
    text-align: center;
    margin-top: -10px;
    object-fit: contain;
    /* padding-bottom: 150px; */
  }

  .bottom-container > h2 {
    color: rgb(26, 23, 23);
    font-size: 40px;
    font-family: 'OCR A Extended V2';
    padding-bottom: 30px;
    padding-top: 50px;
  }
  
  .bottom-container > p {
    margin-top: 8px;
    color: rgb(26, 23, 23);
    font-size: 20px;
    font-family: 'OCR A Extended V2';
    line-height: 1.5;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 30px;
  }

  
.footer-home {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  background: rgb(33, 201, 81);
  height: 25vh;
  width: 100%;
  justify-content: center;
  text-align: center;
  object-fit: contain;
  margin-top: -10px;
}

.footer-home > h4 {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  color: rgb(26, 23, 23);
  font-size: 20px;
  font-family: 'OCR A Extended V2';
  padding-top: 90px;
}


  @media screen and (min-width: 1921px) {
    .first-container {
      /* Adjust the height for bigger screens */
      height: 70vh;
    }
    
    .second-container {
      /* Adjust the height for bigger screens */
      height: 60vh;
    }
    
    .middle-container {
      /* Adjust the height for bigger screens */
      height: 60vh;
    } 
    
    .color-transition {
      /* Adjust the height for bigger screens */
      height: 30vh;
    }
    
    .sub-container {
      /* Adjust the width for bigger screens */
      width: 35%;
    }
    
    .bottom-container {
      /* Adjust the height for bigger screens */
      height: 60vh;
    }
  }

  
  @media screen and (max-height: 800px) {

    .first-container > h1 {
      color: #21c951;
      font-size: 45px;
      font-family: 'OCR A Extended V2';
      margin-top: -200px;
    }

    .middle-container > h1 {
      color: #21c951;
      font-size: 45px;
      font-family: 'OCR A Extended V2';
      margin-left: -30px;
    }

    .middle-container{
      /* background: rgb(26, 23, 23); */
      background-image: url('../assets/HomeBackground3.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      margin-top: -100px;
      object-fit: contain;
      
      width: 100%;
      text-align: center;
      padding-left: -50px;
      margin-bottom: -1px;
    }

    .second-container{
      background: rgb(26, 23, 23);
      height: 75vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      object-fit: contain;
      margin-bottom: -100px;
    }

    .bottom-container {
      /* Adjust the height for bigger screens */
      height: 40vh;
    }

    .footer-home {
      /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
      background: rgb(33, 201, 81);
      height: 30vh;
      width: 100%;
      justify-content: center;
      text-align: center;
      object-fit: contain;
      margin-top: -10px;
    }

    .sub-container > h2 {
      color: #21c951;
      font-size: 30px;
      font-family: 'OCR A Extended V2';
      padding-bottom: 30px;
      padding-top: 20px;
    }
    
    .sub-container > p {
      margin-top: 8px;
      color: #fff;
      font-size: 15px;
      font-family: 'OCR A Extended V2';
      line-height: 1.5;
    }

    .bottom-container > h2 {
      color: rgb(26, 23, 23);
      font-size: 30px;
      font-family: 'OCR A Extended V2';
      padding-bottom: 30px;
      padding-top: 50px;
    }
    
    .bottom-container > p {
      margin-top: 8px;
      color: rgb(26, 23, 23);
      font-size: 15px;
      font-family: 'OCR A Extended V2';
      line-height: 1.5;
      margin-left: 180px;
      margin-right: 180px;
      margin-bottom: 0px;
    }
  }
  
  
  
  