video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

.crumbling {
  border-radius: 25px;
  width: 80%;
  height: auto;
}

.rigid {
  max-width: 100vw;
}
  
  .first-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    background: rgb(26, 23, 23);
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: contain;
  }
  
  .first-container > h1 {
    color: #21c951;
    font-size: 60px;
    font-family: 'OCR A';
    margin-top: -200px;
  }


  .second-container{
    background: rgb(26, 23, 23);
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .middle-container{
    /* background: rgb(26, 23, 23); */
    background-image: url('../assets/HomeBackground3.jpg');
    background-size: 110% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: -60px;

    width: 100%;
    text-align: center;
    padding-left: -50px;
  }

  .middle-container > h1 {

    color: #21c951;
    font-size: 55px;
    font-family: 'OCR A';

  }

  .color-transition{
    /* background-image: url('../assets/HomePanel4.jpg'); */
    height: 20vh;
  }


  .sub-container {
    background: rgb(26, 23, 23);
    height: 45vh;
    color: #21c951;
    width: 40%;
    text-align: center;
    font-family: 'sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 25px;
  }

  .sub-container img {
    border-radius: 25px;
  }

  .sub-container > h2 {
    color: #21c951;
    font-size: 40px;
    font-family: 'OCR A';
    padding-bottom: 30px;
    padding-top: 20px;
  }
  
  .sub-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 20px;
    font-family: 'OCR A';
    line-height: 1.5;
  }

  .bottom-container{
    background: rgb(33, 201, 81);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 50vh;
    width: 100%;
    text-align: center;
    margin-top: -10px;
    /* padding-bottom: 150px; */
  }

  .bottom-container > h2 {
    color: rgb(26, 23, 23);
    font-size: 40px;
    font-family: 'OCR A';
    padding-bottom: 30px;
    padding-top: 50px;
  }
  
  .bottom-container > p {
    margin-top: 8px;
    color: rgb(26, 23, 23);
    font-size: 20px;
    font-family: 'OCR A';
    line-height: 1.5;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 30px;
  }

  
.footer-home {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  background: rgb(33, 201, 81);
  height: 25vh;
  width: 100%;
  justify-content: center;
  text-align: center;
  object-fit: contain;
  margin-top: -10px;
}

.footer-home > h4 {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  color: rgb(26, 23, 23);
  font-size: 20px;
  font-family: 'OCR A';
  padding-top: 90px;
}


  @media screen and (min-width: 1921px) {
    .first-container {
      /* Adjust the height for bigger screens */
      height: 70vh;
    }
    
    .second-container {
      /* Adjust the height for bigger screens */
      height: 60vh;
    }
    
    .middle-container {
      /* Adjust the height for bigger screens */
      height: 60vh;
    } 
    
    .color-transition {
      /* Adjust the height for bigger screens */
      height: 30vh;
    }
    
    .sub-container {
      /* Adjust the width for bigger screens */
      width: 35%;
    }
    
    .bottom-container {
      /* Adjust the height for bigger screens */
      height: 60vh;
    }
  }

  
  
  
  
  
  