.first-container-investment {
    background: rgb(26, 23, 23);
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: contain;
}

.first-container-investment > h1 {
    color: rgb(33, 201, 81);
    font-size: 60px;
    font-family: 'OCR A';
    margin-top: 20px;
}

.info-panels {
    background: rgb(26, 23, 23);
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    object-fit: contain;
    margin-top: -10px;
}

.info-subcontainer {
    background: rgb(26, 23, 23);
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: contain;
    padding-left: 100px;
}

.info-subcontainer > h2 {
    color: rgb(33, 201, 81);
    font-size: 50px;
    font-family: 'OCR A';
    margin-top: -80px;
    padding-right: 20px;
}

.info-subcontainer > p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'OCR A';
    margin-top: 20px;
    margin-bottom: 80px;
    line-height: 1.5;
    padding-right: 30px;
    max-width: 700px;
    margin-left: -30px;
}

.contact-form {
    width: 100%;
    background: rgb(26, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(33, 201, 81);
    font-family: 'OCR';
}

.form{
    background: rgb(26, 23, 23);
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    border: 2px solid rgb(33, 201, 81);
}

.form input {
    margin: 10px;
    padding: 15px;
    background:rgb(26, 23, 23);
    font-family: 'OCR A';
    font-size: 16;
    outline:rgb(33, 201, 81);
}

#name {
    border-radius: 25px;
    border: 2px solid rgb(33, 201, 81);
    width: 500px;
    height: 40px;
    font-family: 'OCR A';
    margin: 50px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: row;
    padding-left: 5px;
}

#email {
    border-radius: 25px;
    border: 2px solid rgb(33, 201, 81);
    width: 500px;
    height: 40px;
    font-family: 'OCR A';
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: center;
    padding-left: 5px;
}

#message {
    border-radius: 25px;
    border: 2px solid rgb(33, 201, 81);
    width: 500px;
    height: 100px;
    font-family: 'OCR A';
    margin: 50px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: row;
    padding: 10px;

}

#submit {
    border-radius: 25px;
    border: 2px solid rgb(33, 201, 81);
    width: 50px;
    height: 20px;
    font-family: 'OCR A';
    margin-left: 495px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: row;
    padding-left: -1px;
    margin-bottom: 200px;
}

.footer-investment {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    background: rgb(26, 23, 23);
    height: 15vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    object-fit: contain;
    margin-top: -10px;
  }

  .footer-investment > h4 {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    color: rgb(33, 201, 81);
    font-size: 20px;
    font-family: 'OCR A';
    padding-top: 10px;
  }

  @media all and (min-width: 1920px) {
    .info-subcontainer > p {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: 'OCR A';
        margin-top: 20px;
        margin-bottom: 80px;
        line-height: 1.5;
        padding-right: 30px;
        max-width: 700px;
        margin-left: 40px;
    }
}


@media screen and (max-height: 800px) {
    .info-subcontainer {
        background: rgb(26, 23, 23);
        height: 80vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        object-fit: contain;
        padding-left: 100px;
        margin-top: 100px;
    }

    .footer-investment {
        background: rgb(26, 23, 23);
        height: 18vh;
        width: 100%;
        justify-content: center;
        text-align: center;
        object-fit: contain;
        margin-top: 100px;
    }
  }
  
  
  
  