.first-container-products {
    background: rgb(26, 23, 23);
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: contain;
}

.first-container-products > h1 {
    color: rgb(33, 201, 81);
    font-size: 60px;
    font-family: 'OCR A';
    margin-top: -25px;
}

.first-container-products > p {
    color: rgb(33, 201, 81);
    font-size: 20px;
    font-family: 'OCR A';
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 1.5;
    padding-bottom: 80px;
}