@import '../fonts.css';

.contactus-form {
    width: 100%;
    background: rgb(26, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(33, 201, 81);
    font-family: 'OCR A Extended V2';
    display: flex;
    flex-direction: column;
    margin-bottom: -60px;
}

#name {
    border-radius: 25px;
    border: 2px solid rgb(33, 201, 81);
    width: 500px;
    height: 40px;
    font-family: 'OCR A Extended V2';
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    text-align: left;
    justify-content: center;
    padding-left: 5px;
}

#subject {
    border-radius: 25px;
    border: 2px solid rgb(33, 201, 81);
    width: 500px;
    height: 40px;
    font-family: 'OCR A Extended V2';
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    display: flex;
    text-align: left;
    justify-content: center;
    padding-left: 5px;
}

#email {
    border-radius: 25px;
    border: 2px solid rgb(33, 201, 81);
    width: 500px;
    height: 40px;
    font-family: 'OCR A Extended V2';
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    text-align: left;
    justify-content: center;
    padding-left: 5px;
}


#message {
    border-radius: 25px;
    border: 2px solid rgb(33, 201, 81);
    width: 500px;
    height: 100px;
    font-family: 'OCR A Extended V2';
    margin: 50px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;

}

#submit {
    border-radius: 25px;
    border: 2px solid rgb(33, 201, 81);
    width: 50px;
    height: 20px;
    font-family: 'OCR A Extended V2';
    margin-left: 495px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: row;
    padding-left: -1px;
    margin-bottom: 190px;
}